{% extends 'students/base.html' %}
{% load static %}
{% block body %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
<div class="card bg-light ms-4 me-4 mb-4 mt-5">
    <div class="card-header">
        <i class="fa-solid fa-list fa-lg"></i> Add Student
    </div>
    <div class="card-body">
        <p class="card-text">
          <div class="table-responsive">


<form action="{% url 'add_student' %}" method="POST">
    {% csrf_token %}

{% if messages %}
{% for message in messages %}
<h4 class="alert alert-primary">{{message}}</h4>
{% endfor%}
{% endif %}

<div style=" display:inline-table; margin-left: 50px;">
    {{forms.as_p}}

    <button id="bt"  type="submit">Submit&nbsp;&nbsp; 
        <i class="fa-solid fa-check fa-lg"></i>
    </button>

</div>
</form>
</div>
</p>   
</div>
</div>
{% endblock %}
 