{% extends 'students/base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/button.css' %}">

{% if messages %}
{% for message in messages%}
<h2 class="alert alert-primary mb-0 mt-4 me-4 ms-4" >{{message}}</h2>
{% endfor %}
{% endif %}

<div class="card bg-light ms-4 me-4 mb-4" id="form-container">
    <div class="card-header">
        <i class="fa-solid fa-list fa-lg"></i> Create user
    </div>
  <div class="card-body">
    <p class="card-text">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="user-form">
          {{form.as_table}}
        </div>
        <button class="bt-1"  type="submit">Submit&nbsp;&nbsp; 
            <i class="fa-solid fa-check fa-lg"></i>
        </button>

       </form>
    </p>   
  </div>
</div>
{% endblock%}