{% extends 'students/base.html' %}

{% block body %}

{% if messages %}
{% for message in messages%}
<h2 class="alert alert-primary mb-0 mt-4 me-4 ms-4" >{{message}}</h2>
{% endfor %}
{% endif %}

<div class="card bg-light ms-4 me-4 mb-4 mt-2">
    <div class="card-header">
        <i class="fa-solid fa-list fa-lg"></i> Add Student
    </div>
  <div class="card-body">
    <p class="card-text">
     <div class="table-responsive">


      <form action="" method="POST">
        {% csrf_token %}

        {{form.as_p}}

        <button id="bt"  type="submit">Submit&nbsp;&nbsp; 
            <i class="fa-solid fa-check fa-lg"></i>
        </button>

       </form>
     </div>
    </p>   
  </div>
</div>
{% endblock%}